<% remote_form_for([@computer, Comment.new]) do |f| %>
  <p>
    <b>NEW COMMENT</b><br />
    <%= f.text_area(:body, options = { "cols" => 40, "rows" => 10 }) %>
  </p>

  <p><%= f.submit button_name %> or <%= link_to "Cancel", nil, :id => "comment_cancel" %>
  </p>	
<% end %>

