<p>
  <b>Body:</b>
  <%=h @comment.body %>
</p>

<%= link_to 'Comments', computer_comments_path(@computer) %>
<%= link_to 'Edit', [:edit, @computer, @comment] %> |
<%= link_to 'Back', post_comments_path(@computer) %>
