<h3>Editing computer</h3>

<%= error_messages_for :computer %>

<%= render 'computer_form', :button_name => "Update" %>

<div class="button-group">
  <%= link_to 'Show', @computer, :class => "button"  %>
  <%= link_to 'Back', computers_path, :class => "button" %>	
</div>

