#container {
background: #e3e3e3;
overflow: hidden;
}

#secondary1, #secondary2 {
background: gray;
}

#secondary1 p,
#secondary2 p,
#mainContent p {
padding: 1em;
}

#mainContent {
background: gray;
}

#header, #footer {
background: brown;

}

#col1, #col2 {
background: brown;
}