body {
	background: #4C4C4C;
}

#test {
	height: 68px;
	background: #EEE;
	
}

pre {
	margin: 0;
	padding: 0;
	visibility: hidden;
	height: 0;
	border: 3px solid blue;
}

#page, #footer {
	background: #FFF;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}

/*==LOGIN==*/

#login_box {
	background-color: rgb(234, 242, 245);
	border: 20px solid rgb(221, 221, 221);
	height: 220px;
	width: 400px;
	padding: 2em 2em 4em 2em;
	margin: auto;
	margin-bottom: 20px;
}

#login_box h1 {
	font-size: 260%;
	margin-bottom: 1em;
}

#login_box p {
	font: 130% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	margin-bottom: 1em;
}

#login_box label {
	color: rgb(102, 102, 102);
	font-size: 110%;
}

span.login_tips {
	font-size: 70%;
}

#login_box input {
	font: 200% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#login_tips {
	font-size: 75%;
	color: #777;
}


/*---- HEADER ----*/


#header {
	margin: auto;
	padding: auto;
	width: 960px;
	height: 68px;
	background: #EEE;
}

#header h1 a,
#header h1 a:visited {
  text-decoration: none;
  display: block;
  width: 252px;
  height: 94px;
  text-indent: -9999px;
  background: url(../images/cet_apps.png) top left no-repeat;
  float: left;
  position: absolute;
}

/*==NAV==*/

#logo {
	clear: left;
}

#navbar {
  float: right;
  text-align:right;
}

#navbar ul {
	list-style: none;
	display: block;
	margin: 0 10px;
}

#navbar ul li {
	float: left;
	margin: 8px 0.2em;
	text-transform: uppercase;
	font: bold 1em Helvetica;
}

#navbar ul li a {
	
	padding: 8px 10px 8px 10px;
	text-decoration: none;

	color: #353535;

}

#navbar ul li a:hover {
	color: #333;
	background: #9AE4E8;
}


/*---- CONTENT ----*/

#content {
	padding-top: -40px;
}

/*---- SIDEBAR ----*/

#sidebar {
	height: 700px;
	margin-top: 0px;
	background: #DDFFCC;
	border-left: 1px solid #65896D;
}

#login {
	padding: 10px;
}

#login a, .filter a {
	
	padding: 3px 6px;
	margin: 5px;
	float: right;
	text-decoration: none;
	background-color: #493F0B;
	color: #FFF;
	text-transform: uppercase;
	font: bold 0.8em Helvetica;
}

#logged_in {
	font-size: 0.8em;
	color: #888;
}

/*---- PAGINATION ----*/
.pagination {
  float: left;
  font-size: 1em;
  text-align: left;
  padding: 3px;
  margin-left: 60px;
}
 
.pagination span.current,
.pagination span.disabled,
.pagination a {
  background: #EFC;
  color: #240;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border: .1em solid #9C6;
  font-family: 'Arial Black';
  font-weight: bold;
  padding: .25em .5em; 
  text-decoration: none;
}
 
.pagination a {
  background-color: white;
}
.pagination span.current,
.pagination a:hover {
  color: #020;
  background: #DDFFCC;
}
 
.pagination a.prev_page,
.pagination a.next_page {
  border: 0;
  background: white;
  font: black;
}
 
.pagination span.disabled {
  border: 0;
  background: white;
  color: #888;
  font-weight: normal;
}

/*==YIELD===*/

#yield {
	margin: 0px;
	margin-right: 4px;
	padding: 10px 0px 10px 5px;
}

/*==COMMENTS===*/

a#add_comment {
	float: right;
}

#computer_show_comments_list {
	background-color: #F1F1F1;
	border: 1px solid #999;
	width: 400px;
	padding: 20px;
	margin-top: 10px;
	clear: both;
}

#computer_show_comments_list p.comment {
	font: 1.4em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	padding: 5px;
}

.comment_user_info {
	float: right;
	padding-right: 10px;
	font-size: 75%;
	color: #888;
}

.comment_body {
	
}

.comment {
	border-bottom: 1px solid #999;
	padding-top: 5px;
	padding-bottom: 20px;
}

/*---- FOOTER ----*/

#footer {
  clear: both;
  text-align: right;
  margin: 10px 0 0 0;
  height: 200px;
}
 
#footer .links {
  margin-left: 1em;
  margin-top: 1em;
  text-align: left;
  float: left;
  width: 46em;
  color: #333;
}
 
#footer .links p {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #ccc;
}
 
#footer .links ul li {
  display: inline;
  margin-right: 5px;
}
 
#footer .logo {
  float: right;
  width: 115px;
  margin-right: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #999;
}
 
#footer .logo a,
#footer .logo a:visited {
  text-decoration: none;  
  color: #888;
}
 
#footer .logo img {
  display: block;
  margin: 7px auto;
}