<div id="search_form">
	Search by last name	
	<% form_tag users_path, :method => 'get' do %>
	  <%= text_field_tag :search, params[:search] %>
	  <%= submit_tag "Search" %>
	<% end %>
	<%= link_to 'clear', users_path %>	
</div>

