	<div class="filter">
		<p>
		  <%= link_to_unless_current "All", :filter => 'all' %>
		  <%= link_to_unless_current "PCs", :filter => 'pcs' %>
		  <%= link_to_unless_current "Macs", :filter => 'macs' %>
		  <%= link_to_unless_current "Printers", :filter => 'printers' %>
		</p>	
	</div>
	<div class="clear">
		
	</div>