	<div class="filter">
		<p class="button-group">
		  <%= link_to "All", { :filter => 'all' }, :class => "button primary pill" %>
		  <%= link_to "PCs", { :filter => 'pcs' }, :class => "button pill" %>
		  <%= link_to "Macs", { :filter => 'macs' }, :class => "button pill" %>
		  <%= link_to "Printers", { :filter => 'printers' }, :class => "button pill" %>
		</p>	
	</div>
	<div class="clear">
		
	</div>