<h1>Listing shifts</h1>

<table id="shifts_table" cellspacing="0">
  <tr>
    <th>Cet user</th>
    <th>Start time</th>
    <th>End time</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>

<% for shift in @shifts %>
  <%= render :partial => 'shift', :object => @shift = shift %>
<% end %>
</table>

<br />

<%= link_to 'New shift', new_shift_path, :class => "new_shift_link" %>

