<table cellspacing="0">
<% for checkout in checkouts %>
  <tr id="<%= dom_id(checkout) %>">
	<td>
	  <%= checkout.hub.hub_number unless checkout.hub.nil? %>	
	</td>
	<td class="added_on">Checked Out on <%= checkout.checkout.to_s(:long) %> by USER GOES HERE</td>
	<td><%= link_to_remote(image_tag("trash.gif"), :url => user_checkout_url(user, checkout), :confirm => 'Are you sure?', :method => :delete ) %></td>
  </tr>
<% end %>
</table>