<h1>Search Results</h1>

<table cellspacing="0">
  <tr>
    <th>Control</th>
    <th>Model</th>
	<th>Serial #</th>
    <th>Manufacturer</th>
	<th>Department</th>
	<th>User</th>
	<th>Options</th>
  </tr>

<%= render :partial => @search.computers %>

</table>

