<h1>Editing cet_users</h1>

<% form_for(@cet_users) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cet_users %> |
<%= link_to 'Back', cet_users_path %>