<div class="filter">
	<p>
	  <%= link_to_unless_current "Show All", :filter => 'all' %>
	  <%= link_to_unless_current "To Be Delivered", :filter => 'to_be_delivered' %>
	</p>	
</div>
<div class="clear">
	
</div>