<div class="filter">
	<p class="button-group">
	  <%= link_to "Show All", { :filter => 'all' }, :class => "button pill" %>
	  <%= link_to "To Be Delivered", { :filter => 'to_be_delivered' }, :class => "button pill" %>
	</p>	
</div>
<div class="clear">
	
</div>